{ erl_opts, [ debug_info ]}.
{ i, "include" }.
{ sub_dirs, [ "src" ] }.
{port_env, [
	    {"CFLAGS", "$CFLAGS -O2 -Wall -Wextra -Wswitch-default -Wswitch-enum -fno-common"},
	    {"(linux)", "CFLAGS", "$CFLAGS -fPIC -msse2 -mmmx -D_THREAD_SAFE -D_REENTRANT -DX11 -DFB -DUSE_SSE2 -DUSE_MMX -I ./include"},
	    { "LDFLAGS", "$LDFLAGS -msse2 -mmmx  -L/usr/lib -lX11"}
	   ]}.
{port_specs, [
	      {"linux","priv/epx_nif.so",
	       [
		"c_src/epx_debug.c",
		"c_src/epx_hash.c",
		"c_src/epx_dict.c",
		"c_src/epx_pixel.c",
		"c_src/epx_pixmap.c",
		"c_src/epx_anim.c",
		"c_src/epx_line.c",
		"c_src/epx_ellipse.c",
		"c_src/epx_draw.c",
		"c_src/epx_backend.c",
		"c_src/epx_window.c",
		"c_src/epx_font.c",
		"c_src/epx_gl.c",
		"c_src/epx_gc.c",
		"c_src/epx_simd.c",
		"c_src/epx.o",
		"c_src/epx_nif.o"
	       ]}
	     ]}.

