%% -*- erlang -*-
%% Config file for epx-application
{erl_opts, [debug_info, fail_on_warning]}.

{port_env, [
	    {"CLFAGS", "$CFLAGS -Wall -Wextra -Wswitch-default -Wswitch-enum -fno-common"},
	    {"(.*-i686-.*linux)", "CFLAGS","$CFLAGS -msse2 -DX11 -DFB -DHAVE_MTTR"},
	    {"(.*-i386-.*linux)", "CFLAGS","$CFLAGS -msse2 -DX11 -DFB -DHAVE_MTTR"},
	    {"(.*-arm-.*linux)", "CFLAGS", "$CFLAGS -DX11 -DFB"},

	    {"(linux)", "LDFLAGS", "$LDFLAGS -L/usr/lib -lX11"},

	    {"(darwin.*-32)", "CFLAGS", "$CFLAGS -DX11 -DMAC_OS_X"},
	    {"(darwin.*-32)", "LDFLAGS", "$LDFLAGS -L/usr/X11R6/lib -lX11 -framework Carbon -framework CoreFoundation -framework Foundation -framework AppKit"},

	    {"(darwin.*-64)", "CFLAGS", "$CFLAGS -DX11"},
	    {"(darwin.*-64)", "LDFLAGS", "$LDFLAGS -L/usr/X11R6/lib -lX11"}
	   ]}.
{port_specs, [
	      {"(linux)","priv/epx_nif.so",
	       [
		"c_src/epx_debug.c","c_src/epx_hash.c","c_src/epx_dict.c",
		"c_src/epx_pixel.c","c_src/epx_pixmap.c","c_src/epx_anim.c",
		"c_src/epx_line.c", "c_src/epx_ellipse.c","c_src/epx_draw.c",
		"c_src/epx_backend.c","c_src/epx_backend_x11.c",
		"c_src/epx_backend_fb.c","c_src/epx_backend_none.c",
		"c_src/epx_window.c","c_src/epx_font.c",
		"c_src/epx_gl.c","c_src/epx_gc.c","c_src/epx_simd.c",
		"c_src/epx_simd_emu.c",	"c_src/epx_simd_mmx.c",
		"c_src/epx_simd_sse2.c","c_src/epx.c",
		"c_src/epx_nif.c"
	       ]},

	      {"(darwin.*-32)","priv/epx_nif.so",
	       [
		"c_src/epx_debug.c","c_src/epx_hash.c","c_src/epx_dict.c",
		"c_src/epx_pixel.c","c_src/epx_pixmap.c","c_src/epx_anim.c",
		"c_src/epx_line.c", "c_src/epx_ellipse.c","c_src/epx_draw.c",
		"c_src/epx_backend.c","c_src/epx_backend_x11.c",
		"c_src/epx_backend_macos.c","c_src/epx_backend_none.c",
		"c_src/epx_window.c","c_src/epx_font.c",
		"c_src/epx_gl.c","c_src/epx_gc.c","c_src/epx_simd.c",
		"c_src/epx_simd_emu.c",	"c_src/epx_simd_mmx.c",
		"c_src/epx_simd_sse2.c","c_src/epx.c",
		"c_src/epx_nif.c"
	       ]},

	      {"(darwin.*-64)","priv/epx_nif.so",
	       [
		"c_src/epx_debug.c","c_src/epx_hash.c","c_src/epx_dict.c",
		"c_src/epx_pixel.c","c_src/epx_pixmap.c","c_src/epx_anim.c",
		"c_src/epx_line.c", "c_src/epx_ellipse.c","c_src/epx_draw.c",
		"c_src/epx_backend.c","c_src/epx_backend_x11.c",
		"c_src/epx_backend_none.c",
		"c_src/epx_window.c","c_src/epx_font.c",
		"c_src/epx_gl.c","c_src/epx_gc.c","c_src/epx_simd.c",
		"c_src/epx_simd_emu.c",	"c_src/epx_simd_mmx.c",
		"c_src/epx_simd_sse2.c","c_src/epx.c",
		"c_src/epx_nif.c"
	       ]}
	     ]}.

{edoc_opts, [{doclet, edown_doclet}]}.
