%% 
%% sys.config example file (copy to local.config and edit)
%% if used start erlang with -config local.config  
%%
%% We should really support multiple backend configs both of same
%% type and if different types, example is one raw fb and one x11 backend
%% on the same machine.
%% For now select one if needed.
%% Normally the default or command line args like:
%% -epx backend x11 ...  is enough.
%%

{epx,[
      {backend, fb},
      {framebuffer_device, "/dev/fb0"},  
      {direct_pixmap_draw, 0},
      {double_buffer, 1},

      {width, integer()},
      {virt_width, integer()},
      
      {height, integer()},
      {virt_height, integer()},
      
      {pixel_format, EpxFormat::string()}
      {pixel_type, integer()} %% old
      
      {pixclock, integer()},
      {xoffset, integer()},
      {yoffset, integer()},
      {left_margin, integer()},
      {right_margin, integer()},
      {upper_margin, integer()},
      {lower_margin, integer()},
      {hsync_len, integer()},
      {vsync_len, integer()},
      {sync,  unsigned()},
      {vmode, unsigned()}
     ]}.

{epx,[
      {backend, x11},
      {x11_display, string()},
      {use_opengl, boolean()}
     ]}.

{epx,[
      {backend, macos},
      {use_opengl, boolean()}
      ]}.
