<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleIdentifier</key>
    <string>se.rogvall.epx.efnttool</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>efnttool</string>
    <key>CFBundleVersion</key>
    <string>0.1</string>
</dict>
</plist>